
body{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Itim;
    src: url(../fonts/Itim-Regular.ttf);
}

@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker-Regular.ttf);

}

header{
    background-image: url(../images/pexels-soulful.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
    transform: translateY(-25px);
} 

.b{

float: right;
margin-top: 5px;
font-size: 14px;
color: 	#3498DB;
margin-right: 10px;
padding: 5px;

}

.b b{

    margin-right: 10px;
}

.conteiner{

    max-width: 90%;
    position: relative;
    
}

.cabeca{
    position: relative;
    top: 60px;
    margin-left: 200px;

    
}


.text1{

    font-family: PermanentMarker;
    color:#1ABC9C;
    background-image: url(../assets/icons8-rick-sanchez-50.png);
    background-repeat: no-repeat;
    background-size: calc(33px);
    text-shadow: -1px 1px #ffffff;

}

.text2{
    position: relative;
    transform: translate(20px, -25px);
    font-size: 16px;
    color: #1ABC9a;
    text-shadow: -1px 1px white;
}

.cabeca hr{

    position: relative;
    transform: translatey(-30px);
    
}

.informacoes{

    color: #3498DB;
    position: absolute;
    right: 0px;
    bottom:220px;
    font-weight: bold;
    font-size: 15px;
    
    
    
}

.informacoes, span{

    margin-right: 15px;
    

}
.informacoes img{
    position: absolute;
    transform: translate(-10px, -7px);
    
}

.informacoes-dos-produtos{

    position: relative;
    transform: translatey(50px);
    text-align: left;
    
    
}

.informacoes-dos-produtos h1{

    font-family: Itim;
    color: #3498DB;
    font-size: 40px;
    text-shadow: -1px 1px #ffffff;
}

.informacoes-dos-produtos h3{
    color: #469fda;
    font-weight: bold;

}
.informacoes-dos-produtos p{

    color: #3498DB;
    font-weight: bold;
    
}

.comprar-agora{
    text-align: center;
    position: absolute;
    transform: translatey(100px);
    font-weight: bold;
    font-family: itim;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #1ABC9a;
    color: black;
    box-shadow: 0px 3px 10px white;
    
    
}

.comprar-agora:hover{

    background-color:#00FF7F ;
    
}

            /* FINAL DO HEADER */
    /* ----------------------------------------- */

.consideracoes{

    width: 60%;
    margin-top: 10px;
    font-family: Itim;
    position: absolute;
    transform: translate(320px);
    
    

}

#certificado{
    width: 30%;
    text-align: center;
    transform: translate(-60px);
    display: inline-block;
    
    
    

}
#natureza{
    width: 45%;
    display: inline-block;
    text-align: center;
    position: absolute;
    
    
}
#tecnologia{
    width: 40%;
    display: inline-block;
    position: absolute;
    text-align: center;
    transform: translate(450px);
    
}


.secao1{

    background-color: black;
    width: 60%;
    height: 300px;
    transform: translate(300px, 300px);
    background-image: url(../images/section1.jpg);
    background-size: cover;
    background-position: center;
    

    
    

}
.content01{

    font-family: Itim;
    transform: translate(100px, 20px);
    color: #3498DB;
    text-shadow: -1px 1px black;
}

.content01 b{

    text-align: center;
    position: absolute;
    transform: translate(15px, 50px);
    font-weight: bold;
    font-family: itim;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #1ABC9a;
    color: black;
    box-shadow: 0px 3px 10px #000000;
    text-shadow: none;
}
 
.content01 b:hover{

    background-color:#00FF7F ;
}

.secao2{

    font-family: Itim;
    text-align: center;
    transform: translatey(400px);
    font-size: 26px;
    color: #1ABC9a;
    text-decoration: underline;
    text-shadow: 1px 1px black;
}


.cadastre-se{

    font-size: 20px;
    transform: translatey(-20px);
    text-decoration: none;
}
.cadastre-se:hover{
    color: #00FF7F;
}