
body{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Itim;
    src: url(../fonts/Itim-Regular.ttf);
}

@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker-Regular.ttf);

}

header{
    background-image: url(../images/pexels-soulful.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
} 

.b{

float: right;
margin-top: 5px;
font-size: 14px;
color: 	#3498DB;
margin-right: 10px;
padding: 5px;

}

.b b{

    margin-right: 10px;
}

.conteiner{

    max-width: 80%;
    position: relative;
    
}

.cabeca{
    position: relative;
    top: 60px;
    margin-left: 450px;

    
}


.text1{

    font-family: PermanentMarker;
    color:#1ABC9C;
    background-image: url(../assets/icons8-rick-sanchez-50.png);
    background-repeat: no-repeat;
    background-size: calc(33px);
    text-shadow: -1px 1px #ffffff;

}

.text2{
    position: relative;
    transform: translate(20px, -25px);
    font-size: 16px;
    color: #1ABC9a;
    text-shadow: -1px 1px white;
}

.cabeca hr{

    position: relative;
    transform: translatey(-30px);
    
}

.informacoes{

    color: #3498DB;
    position: absolute;
    right: 0px;
    bottom:220px;
    font-weight: bold;
    font-size: 15px;
    
    
    
}

.informacoes, span{

    margin-right: 15px;
    

}
.informacoes img{
    position: absolute;
    transform: translate(-10px, -7px);
    
}

.informacoes-dos-produtos{

    position: relative;
    transform: translatey(50px);
    text-align: left;
    
    
}

.informacoes-dos-produtos h1{

    font-family: Itim;
    color: #3498DB;
    font-size: 40px;
    text-shadow: -1px 1px #ffffff;
}

.informacoes-dos-produtos h3{
    color: #469fda;
    font-weight: bold;

}
.informacoes-dos-produtos p{

    color: #3498DB;
    font-weight: bold;
}

.comprar-agora{
    text-align: center;
    position: absolute;
    transform: translatey(100px);
    font-weight: bold;
    font-family: itim;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #1ABC9a;
    color: black;
    box-shadow: 0px 3px 10px white;
    
    
}

.comprar-agora:hover{

    background-color:#00FF7F ;
    
}
