
body{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Itim;
    src: url(../fonts/Itim-Regular.ttf);
}

@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker-Regular.ttf);

}

a{

    text-decoration: none;
}

header{
    background-image: url(../images/pexels-soulful.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
    transform: translateY(-25px);
    box-shadow: 0px 0px 100px #3498DB;
    z-index: 10;
} 

.b{

float: right;
margin-top: 5px;
font-size: 14px;
color: 	#3498DB;
padding: 5px;
transform: translate(-140px);


}

.b b{

    margin-right: 15px;
}

.conteiner{

    max-width: 90%;
    margin: auto;
    
}

.cabeca{
    position: relative;
    top: 60px;
    width: 80%;
    margin: auto;
    
}




.text1{

    font-family: PermanentMarker;
    color:#1ABC9C;
    background-image: url(../assets/icons8-rick-sanchez-50.png);
    background-repeat: no-repeat;
    background-size: calc(33px);
    text-shadow: -1px 1px #ffffff;

}


.text2{

    transform: translate(20px, -25px);
    font-size: 16px;
    color: #1ABC9a;
    text-shadow: -1px 1px white;
}


.cabeca hr{

    transform: translatey(-30px);
    
}

.informacoes{

    color: #3498DB;
    position: absolute;
    right: 0px;
    top: 45px;
    font-weight: bold;
    font-size: 15px;
    
    
    
}

.informacoes, span{

    margin-right: 15px;
    

}
.informacoes img{
    position: absolute;
    transform: translate(-10px, -7px);
    
}



/* ---------------------------------------------------------------------------- */

.informacoes-dos-produtos{

    transform: translatey(50px);
    text-align: left;
    color: #469fda;
    font-weight: bold;
    font-size: 20px;
    
}

.informacoes-dos-produtos h1{

    font-family: Itim;
    color: #3498DB;
    font-size: 40px;
    text-shadow: -1px 1px #ffffff;
}



.comprar-agora{
    text-align: center;
    position: absolute;
    transform: translatey(200px);
    font-weight: bold;
    font-family: itim;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #1ABC9a;
    color: black;
    box-shadow: 0px 3px 10px white;
    
    
}

.comprar-agora:hover{

    background-color:#00FF7F ;
    transition: all 1s ease;
    padding: 12px;
    cursor: pointer;
    
    
  
    
}

            /* FINAL DO HEADER */
    /* ----------------------------------------- */

#conteiner2{

    max-width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 9;


}

.secao01{

    width: 100%;
    margin-top: 10px;
    font-family: Itim;
    position: relative;
    margin: auto;
    z-index: 8;
    
    

}

#certificado{
    width: 300px;
    display: inline-block;
    position: relative;
    transform: translate(-100px, -15px);
    
    
    

}
#natureza{
    width: 450px;
    display: inline-block;
    position: relative;
    transform: translate(-30px,-15px);
     
    
}



#tecnologia{
    width: 300px;
    display: inline-block;
    position: relative;
    transform: translate(40px, -15px);
    
  
}

    

/* -------------------------------------------------------------- */




.secao02{
    width: 900px;
    height: 350px;
    margin: auto;
    top: 60px;
    background-image: url(../images/section1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0px 10px 10px black;
    position: relative;
    z-index: 7;
    
    
}


.content01{
    font-size: 20px;
    font-family: Itim;
    transform: translate(-70px, 20px);
    color: #3498DB;
    text-shadow: -1px 1px black;
}

.content01 b{

    text-align: center;
    position: absolute;
    transform: translate(-100px, 20px);
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #1ABC9a;
    color: black;
    box-shadow: 0px 3px 10px #000000;
    text-shadow: none;
}
 
.content01 b:hover{

    background-color:#00FF7F ;
    transition: all 1s ease;
    padding: 12px;
    cursor:pointer;
}


/* ------------------------------------------------------------ */

.secao03{
    
    font-family: Itim;
    transform: translatey(200px);
    font-size: 26px;
    z-index: 6;
    
}
.secao03 h2{
    box-shadow: 0px 5px 10px black;
    color: #000000;
    text-shadow: -2px 2px #ffffff;
    background-color: #3498DB;
    width: fit-content;
    border: none;
    border-radius: 30px;
    padding: 5px;
    margin: auto;
    transition: padding 1s;
    transition-timing-function: ease;
    
    
}

.secao03 h2:hover{

    background-color: #1ABC9a;
    transition: all 1s ease;
    padding-left: 10px;
    padding-right: 10px;
    cursor:pointer;
    transform: translateY(-20px);
}

.cadastre-se{
    color: #3498DB;
    font-size: 20px;
    text-decoration: none;
}
.cadastre-se:hover{
    color: #1ABC9a;
}



        /* PRODUTOS PARA EXIBIÇÃO */

#produtos{
    width: 90%;
    margin: auto;
    transform: translatey(200px);
    z-index: 5;
    font-family: Itim;
    background-color: #ddd;
    padding: 30px;
    border-radius: 10px;
   
}

.estoque1{

    display: inline-block;

}

.iten1 {

    transform: translate(-200px);


}
.iten3{
    transform: translate(200px);

    
}

.estoque1 h3{

    color: #3498DB;
}
.estoque1 p{
    margin-top: -10px;
    color: #1ABC9a;
    font-weight: bold;
}

.estoque1 img{
    width: 300px;
    height: 250px;
    box-shadow: 0px 10px 10px black;
    border-radius: 10px;
}

.estoque1 img:hover{

    transition: all 0.3s ease;
    width: 310px;
    height: 260px;
    cursor: pointer;


}

/* ------------------------------------- */

.estoque2{

    display: inline-block;
    margin-top: 50px;
    margin: auto;
   

}

.iten4{

    transform: translate(-200px);
}

.iten6{

    transform: translate(200px);

}

.estoque2 img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
   
}

.estoque2 img:hover{
    transition: all 0.3s ease;
    width: 310px;
    height: 260px;
    cursor: pointer;
     
}


.estoque2 h3{
    
    color: #3498DB;

}
.estoque2 p{
    margin-top: -10px;
    color: #1ABC9a;
    font-weight: bold;
}


/* ------------------------------------------ */


#propaganda1{

    transform: translateY(250px);
    background-image: url(../images/Header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 300px;
    margin: auto;
    font-family: Itim;
    text-shadow: -1px 1px #000000;
    color: #1ABC9C;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #000000;
    
}

#propaganda1 h2{

    font-size: 25px;
    transform: translate(-130px, 100px);
}

#propaganda1 p{

    font-size: 20px;
    transform: translate(-100px, 80px);
   
}
 #propaganda1 b{

    text-align: center;
    position: absolute;
    transform: translate(-300px, 100px);
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #1ABC9a;
    color: black;
    box-shadow: 0px 3px 10px #000000;
    text-shadow: none;
    
 }

 #propaganda1 b:hover{

    background-color:#00FF7F ;
    transition: all 1s ease;
    padding: 12px;
    cursor:pointer;
 }


 /* ---------------------------------------------------------------- */


 #propaganda2{
    
    background-image: url(../images/section2.jpg);
    background-size: cover;
    transform: translateY(300px);
    width: 1000px;
    height: 350px;
    margin: auto;
    margin-bottom: 300px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
    
    
 }

 #propaganda2 h2{
     color: #3498DB;
     text-shadow: 0px 2px black;
     font-size: 50px;
     font-family: PermanentMarker;


 }

 #propaganda2 p{

    transform: translateY(-40px);
    font-family: Itim;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0px 1px #ffffff;
   
    
 }

 .anuncio{
     display: inline-block;
     width: 300px;
     text-align: left;
     transform: translate(60px);
     
 }
 .anuncio img{
     width: 80px;
     transform: translateY(-20PX);
     
 }

 .carrinho{
    
    transform: translate(80px, -20px);
 }


 /* -------------------------------------------------------------------------------- */

 .quasefooter{
     width: 100%;
     margin: auto;
     transform: translateY(100px);

 }

.rodape{

    display: inline-block;
    height: 100px;
    margin-right: -4px;
    
    
}

 .rodape img{
   
    width: 300px;
    height: 250px;
    
 }


 /* ---------------------------------------------------------------- */

#contatos{

    transform: translateY(100px);
    font-weight: bold;
    
    
}


#contatos div{

    display: inline-block;
    width: 150px;
    

}

#contatos p{

    transform: translateY(-20px);
}

.entrega2{

    transform: translate(-100px);
}
 .tel{

    transform: translate(50px);
 }
/* ------------------------------------------------------------------------ */

footer{

    transform: translateY(100PX);
    width: 100%;
    background-color: #ddd;
}


.logomarca1{
    margin: auto;
    width: fit-content;
    font-family: PermanentMarker;
    color:#1ABC9C;
    background-image: url(../assets/icons8-rick-sanchez-50.png);
    background-repeat: no-repeat;
    background-size: calc(33px);
    text-shadow: -1px 1px #ffffff;
}

.logomarca2{
    transform: translateY(-20px);
    font-size: 16px;
    color: #1ABC9a;
    text-shadow: -1px 1px white;
    height: 200px;


}


#b{
    position: relative;
    bottom: 150px;
    width: fit-content;
    margin: auto;
    
}

#b b{
    padding: 20px;
}

#copyright{

    font-family: Itim;
    transform: translateY(-20PX);
    

}

/* ----------------------------------------------------------------- */


