
body{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Itim;
    src: url(../fonts/Itim-Regular.ttf);
}

@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker-Regular.ttf);

}

header{
    background-image: url(../images/pexels-soulful.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
    transform: translateY(-25px);
    box-shadow: 0px 0px 100px #3498DB;
    z-index: 10;
} 

.b{

float: right;
margin-top: 5px;
font-size: 14px;
color: 	#3498DB;
margin-right: 10px;
padding: 5px;
transform: translate(-100px);


}

.b b{

    margin-right: 10px;
}

.conteiner{

    max-width: 90%;
    margin: auto;
    
}

.cabeca{
    position: relative;
    top: 60px;
    width: 80%;
    margin: auto;
    
}


.text1{

    font-family: PermanentMarker;
    color:#1ABC9C;
    background-image: url(../assets/icons8-rick-sanchez-50.png);
    background-repeat: no-repeat;
    background-size: calc(33px);
    text-shadow: -1px 1px #ffffff;

}

.text2{

    transform: translate(20px, -25px);
    font-size: 16px;
    color: #1ABC9a;
    text-shadow: -1px 1px white;
}

.cabeca hr{

    transform: translatey(-30px);
    
}

.informacoes{

    color: #3498DB;
    position: absolute;
    right: 0px;
    top: 40px;
    font-weight: bold;
    font-size: 15px;
    
    
    
}

.informacoes, span{

    margin-right: 15px;
    

}
.informacoes img{
    position: absolute;
    transform: translate(-10px, -7px);
    
}

.informacoes-dos-produtos{

    transform: translatey(50px);
    text-align: left;
    
    
}

.informacoes-dos-produtos h1{

    font-family: Itim;
    color: #3498DB;
    font-size: 40px;
    text-shadow: -1px 1px #ffffff;
}

.informacoes-dos-produtos h3{
    color: #469fda;
    font-weight: bold;

}
.informacoes-dos-produtos p{

    color: #3498DB;
    font-weight: bold;
    
}

.comprar-agora{
    text-align: center;
    position: absolute;
    transform: translatey(100px);
    font-weight: bold;
    font-family: itim;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #1ABC9a;
    color: black;
    box-shadow: 0px 3px 10px white;
    
    
}

.comprar-agora:hover{

    background-color:#00FF7F ;
    
}

            /* FINAL DO HEADER */
    /* ----------------------------------------- */

#conteiner2{

    max-width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 9;


}

.secao01{

    width: 100%;
    margin-top: 10px;
    font-family: Itim;
    text-align: center;
    position: relative;
    margin: auto;
    z-index: 8;
    
    

}

#certificado{
    width: 300px;
    display: inline-block;
    position: relative;
    transform: translate(-100px, -15px);
    
    
    

}
#natureza{
    width: 450px;
    display: inline-block;
    position: relative;
    transform: translate(-30px,-15px);
    
    
    
    
}
#tecnologia{
    width: 300px;
    display: inline-block;
    position: relative;
    transform: translate(40px, -15px);
    
    
    
    
}


.secao02{

    background-color: black;
    width: 900px;
    height: 350px;
    margin: auto;
    top: 60px;
    background-image: url(../images/section1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0px 10px 10px black;
    position: relative;
    z-index: 7;
    
    
}


.content01{
    font-size: 20px;
    font-family: Itim;
    transform: translate(-70px, 20px);
    color: #3498DB;
    text-shadow: -1px 1px black;
}

.content01 b{

    text-align: center;
    position: absolute;
    transform: translate(-100px, 20px);
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #1ABC9a;
    color: black;
    box-shadow: 0px 3px 10px #000000;
    text-shadow: none;
}
 
.content01 b:hover{

    background-color:#00FF7F ;
}

.secao03{
    font-family: Itim;
    transform: translate(-60px, 200px);
    font-size: 26px;
    display: inline-block;
    z-index: 6;
}
.secao03 h2{
    box-shadow: 0px 5px 10px black;
    color: #000000;
    text-shadow: -2px 2px #ffffff;
    background-color: #3498DB;
    width: fit-content;
    transform: translate(50px);
    border: none;
    border-radius: 30px;
    padding: 5px;
    
}

.secao03 h2:hover{

    background-color: #1ABC9a;
}

.cadastre-se{
    color: #3498DB;
    font-size: 20px;
    transform: translatey(-20px);
    text-decoration: none;
}
.cadastre-se:hover{
    color: #1ABC9a;
}


        /* PRODUTOS PARA EXIBIÇÃO */

.produtos{

    transform: translate(50px, 200px);
    z-index: 5;
    font-family: Itim;
   
}

.estoque1{

    display: inline-block;


}

.estoque1 h3{

    color: #3498DB;
    margin-left: -200px;
}
.estoque1 p{
    margin-top: -10px;
    color: #1ABC9a;
    margin-left: -200px;
    font-weight: bold;
}

.estoque1 img{
    width: 300px;
    height: 250px;
    box-shadow: 0px 10px 10px black;
    margin-right: 200px;
    border-radius: 10px;
    
    
    
}

/* ------------------------------------- */

.estoque2{

    display: inline-block;
    margin-top: 50px;
    
}
.estoque2 img{
    width: 300px;
    height: 250px;
    margin-right: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
}
.estoque2 h3{
    
    color: #3498DB;
    margin-left: -200px;
}
.estoque2 p{
    margin-top: -10px;
    color: #1ABC9a;
    margin-left: -200px;
    font-weight: bold;
}


/* ------------------------------------------ */


#propaganda{

    transform: translateY(250px);
    background-image: url(../images/Header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 300px;
    margin: auto;
    font-family: Itim;
    text-shadow: -1px 1px #000000;
    color: #1ABC9C;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #000000;
}

#propaganda h2{

    font-size: 25px;
    transform: translate(-130px, 100px);
}

#propaganda p{

    font-size: 20px;
    transform: translate(-100px, 80px);
   
}
 #propaganda b{

    text-align: center;
    position: absolute;
    transform: translate(-300px, 100px);
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #1ABC9a;
    color: black;
    box-shadow: 0px 3px 10px #000000;
    text-shadow: none;
 }

 #propaganda b:hover{

    background-color:#00FF7F ;
 }