
body{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Itim;
    src: url(../fonts/Itim-Regular.ttf);
}

@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker-Regular.ttf);

}

header{
    background-image: url(../images/Header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
} 

.conteiner b{

float: right;
margin-top: 20px;
font-size: 14px;
color: 	#3498DB;
margin-right: 20px;

}

.conteiner{

    max-width: 80%;
    position: relative;
    
}

.cabeca{
    position: relative;
    top: 60px;
    margin-left: 450px;

    
}


.text1{

    font-family: PermanentMarker;
    color:#1ABC9C;
    background-image: url(../assets/icons8-rick-sanchez-50.png);
    background-repeat: no-repeat;
    background-size: calc(33px);

}

.text2{
    position: relative;
    transform: translate(20px, -25px);
    font-size: 16px;
    color: #1ABC9a;
}

.cabeca hr{

    position: relative;
    transform: translatey(-30px);
    
}

.informacoes{

    color: #3498DB;
    position: absolute;
    right: 0px;
    bottom: 45px;
    font-weight: bold;
    font-size: 14px;
    
    
    
}

.informacoes, span{

    margin-right: 15px;
    

}
.informacoes, img{

    transform: translate(10px, 5px);
}